
.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}
.container-fluid {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
}
.titleHolder {
    text-align: center;
    position: relative;
    padding: 0 0 20px;
    margin: 0 0 40px;
}

.titleHolder:after {
    transform: translateX(-50%);
    content: '';
    background: #1890ff;
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 3px;
    width: 50px;
}
.titleHolder h2 {
    font-size: 28px;
    margin: 0;
}
